{{ define "main" }}
<div class="content-wrapper">
    <h1>{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
    </div>
    <div id="map"></div>
</div>
{{ end }}

{{ define "scripts" }}

{{ $subset := slice }}
{{ range .Site.Data.gardens.gardens }}
    {{ $subset = $subset | append (dict "lat" .lat "lng" .lng "title" .map_title) }}
{{ end }}

{{ $jsVars := dict "locations" $subset }}
{{ $opts := dict "params" $jsVars "minify" true "target" "es2020" }}

{{ $mapJS := resources.Get "js/map.js" | js.Build $opts | fingerprint }}

<script defer src="{{ $mapJS.RelPermalink }}" integrity="{{ $mapJS.Data.Integrity }}"></script>
{{ end }}