@import 'variables';
@import 'top';

%abs-item {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  color: $primary-color;
  background-color: $footer-color;
  width: 100%;
  min-height: 250px;
  flex-shrink: 0;
  margin-top: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  text-align: left;

  a {
    color: $light-color;
    text-decoration: none;
  }

  h3 {
    color: $primary-color;
  }

  p {
    margin-bottom: 0em;
    text-align: center;
    
    &:last-of-type {
      margin-bottom: 0.5em;
    }

    @media screen and (max-width: $sm) {
      width: 80%;
      text-align: left;
      padding-left: 0.5em;
    }
  }

  .heart {
    color: #b13126;
    font-size: 2rem;
  }

  &::before {
    content: '';
    @extend %abs-item;
    top: 0;
    left: 2em;
    width: 5.4em;
    height: 2.2em;
    background-color: $footer-color;
    z-index: 3;
    pointer-events: none;
  }

  .decor-item {
    &.bulb, &.leaves {
      @extend %abs-item;
    }
  }

  .decor-fork {
    @extend %abs-item;
    background-image: url("/assets/images/fork.webp");
    height: 13.7em;
    left: 2em;
    top: -11.5em;
    width: 5.4em;
    z-index: 2;
  }

  .decor-beet {
    @extend %abs-item;
    height: 10.341em;
    left: 35%;
    top: -3.8em;
    width: 4.35em;
    z-index: 4;

    @media screen and (max-width: $md) {
      left: 60%;
    }

    .bulb {
      background-image: url("/assets/images/beet_bulb.webp");
      background-size: 2.5em 6.95em;
      bottom: 0;
      height: 6.95em;
      right: .35em;
      width: 2.5em;
      z-index: 1;
    }

    .leaves {
      background-image: url("/assets/images/beet_leaves.webp");
      background-size: 4.35em 3.95em;
      height: 3.95em;
      left: 0;
      top: 0;
      width: 4.35em;
      z-index: 2;
    }
  }

  .decor-parsnip {
    @extend %abs-item;
    height: 12.008em;
    right: 13%;
    top: -5.925em;
    width: 4.35em;
    z-index: 4;

    @media screen and (max-width: $md) {
      display: none;
    }

    .bulb {
      background-image: url("/assets/images/parsnip_bulb.webp");
      background-size: 1.275em 6.4em;
      height: 6.4em;
      left: 1.6em;
      bottom: 0;
      width: 1.275em;
      z-index: 1;
    }

    .leaves {
      background-image: url("/assets/images/parsnip_leaves.webp");
      background-size: 4.35em 5.925em;
      height: 5.925em;
      left: 0;
      top: 0;
      width: 4.35em;
      z-index: 2;
      image-rendering: pixelated;
    }
  }
}