@import 'footer';
@import 'fonts';
@import 'nav';
@import 'variables';
@import 'top';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: $secondary-color;
    font-family: $font-primary;
    font-size: 1.59vw;
    font-weight: 300;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: 0;
    height: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    color: white;
}

main {
    position: relative;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 16vh;
}

main section:last-child {
    padding: 3rem 1rem; /* Add generous padding */
}

.tt {
    padding-top: 0;
    padding-bottom: 0;
}

main.internal-main {
    margin-top: 25vh;
}

h2 {
    color: $primary-color;
    margin-bottom: 1rem;
}

svg {
    height: 1.2em;
    width: auto;
    vertical-align: -0.125em;
    /* nudge to visually center with text */
    margin-right: 0.5em;
    margin-top: 0.5em;
    display: inline-block;
}

path {
    transition: fill 0.3s;
}

a:hover path {
    fill: #4c7b35
}

.iel-logo {
    height: 80px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.image-theme {
    position: absolute; /* Changed from fixed to absolute */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1; /* Remains behind the content */
    /* Retain your existing background-image and size properties */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--bg-image);
    background-size: cover;
    background-position: top;
}

.hero-content {
    min-height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 0 1rem;
    text-align: center; 
}


.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-secondary {
    background-color: white;
    border-color: $primary-color;
    color: $primary-color;
}

.btn-secondary:hover {
    background-color: $primary-color;
}

a {
    color: #4c7b35 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

@media projection {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
}

@media screen {
    body {
        background: #f6f4f0;
    }
}


@media print {
    body {
        background: white;
    }
}

@media projection {
    body {
        background: white;
    }
}

@media only screen {
    @-ms-viewport {
        width: device-width;
    }
}

@media screen and (min-width: 1260px) {

    html,
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 991.98px) {

    html,
    body {
        font-size: 14px;
    }

    .iel-logo {
        height: 50px;
    }

    main.internal-main {
        margin-top: 10vh;
    }
}

@media print {

    html,
    body {
        font-size: 14px;
    }
}

@media projection {

    html,
    body {
        font-size: 10px;
    }
}
